<ul>

<!--<li><fa-icon [icon]="faApple" [mask]="faSquareFull" size="5x" [classes]="['gradient-background']"></fa-icon></li>-->
<li><fa-icon [icon]="faFolderOpen" [mask]="faSquareFull" size="5x" [classes]="['gradient-background']"></fa-icon></li>
<li><fa-icon [icon]="faLaptop" [mask]="faSquareFull" size="5x" [classes]="['gradient-background']"></fa-icon></li>
<li><fa-icon [icon]="faVideo" [mask]="faSquareFull" size="5x" [classes]="['gradient-background']"></fa-icon></li>
<li><fa-icon [icon]="faGraduationCap" [mask]="faSquareFull" size="5x" [classes]="['gradient-background']"></fa-icon></li>
<li><fa-icon [icon]="faDesktop" [mask]="faSquareFull" size="5x" [classes]="['gradient-background']"></fa-icon></li>
<li><fa-icon [icon]="faGlobeEurope" [mask]="faSquareFull" size="5x" [classes]="['gradient-background']"></fa-icon></li>

</ul>